.back {
    -fx-background-color: #313859;
    /*-fx-background-image: url('BackGR.jpg');*/
}

.nextback {
    -fx-background-color: #858585;
}

.clickedback {
    -fx-background-color: #7a0f0f;
}

.searchbutton {
    -fx-background-color: white;
}

.mybutton {
    -fx-background-color: #a41717;
}